#container {
    border: 100px solid black;
    width: 70%;
    height: 70%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border-image: url(love.png);
}